h2{
	font-family: Arial, Helvetica, sans-serif;
	color: beige;
	text-align: center;
	text-shadow: black 2px 2px;
}
h5{
	font-family: Arial, Helvetica, sans-serif;
	color: beige;
	text-align: center;
	text-shadow: black 2px 2px;
}

img{
	width: 400px;
	height: 400px;
}
